.imgCar
{

border-radius: 20px;

}

.largeImgCar
{
  height: 580px;
  width: 60vw;
}
.imgCarsmall
{
  height: 180px;
  width: 20vw;
  padding: 10px;
}
#images
{

  
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallCar
{
  display: flex;
  flex-direction: column;
  
}